n8n/vidgen-production-workflow.json
{
  "name": "VidGen Production Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vidgen-production",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst metadata = payload.metadata && typeof payload.metadata === 'object' ? payload.metadata : {};\nconst category = payload.category || (Array.isArray(metadata.categories) && metadata.categories[0]) || 'Umum';\nconst scheduledTime = payload.scheduledTime || '';\nconst slots = scheduledTime ? [{ time: scheduledTime, label: 'Scheduled Upload' }] : [];\nconst renderWebhookUrl = metadata.renderWebhookUrl || '';\n\nif (!payload.jobId) {\n  throw new Error('jobId wajib dikirim dari server VidGen.');\n}\n\nif (!payload.prompt) {\n  throw new Error('prompt wajib dikirim dari server VidGen.');\n}\n\nreturn [{\n  json: {\n    ...payload,\n    metadata,\n    category,\n    slots,\n    renderWebhookUrl,\n    callbackHeaders: {\n      'Content-Type': 'application/json',\n      'x-vidgen-callback-secret': payload.callbackSecret || ''\n    },\n    generatePayload: {\n      desc: payload.prompt || payload.title,\n      selectedStyles: Array.isArray(metadata.styles) ? metadata.styles : [],\n      selectedCats: Array.isArray(metadata.categories) && metadata.categories.length ? metadata.categories : (category ? [category] : []),\n      mood: metadata.mood || '',\n      camera: metadata.camera || '',\n      slots\n    }\n  }\n}];"
      },
      "id": "normalize-request",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $json.callbackHeaders }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  jobId: $json.jobId,\n  status: 'processing',\n  message: 'Workflow n8n menerima job dan mulai memproses paket produksi.',\n  executionId: $execution.id,\n  progress: 15\n} }}"
      },
      "id": "notify-processing",
      "name": "Notify Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.appBaseUrl || 'https://automation.maksitech.id').replace(/\\/$/, '') + '/api/generate' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ { 'Content-Type': 'application/json' } }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.generatePayload }}"
      },
      "id": "generate-package",
      "name": "Generate Package",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Normalize Request').first().json;\nconst response = $input.first().json;\nconst productionPrompt = response.text || '';\n\nif (!productionPrompt) {\n  throw new Error('Respons /api/generate kosong.');\n}\n\nconst lines = productionPrompt.split('\\n').map((line) => line.trim()).filter(Boolean);\nconst probableTitle = lines.find((line) => /^judul/i.test(line)) || source.title || 'Video tanpa judul';\nconst thumbnailPrompt = `${source.category || 'Video'} thumbnail, bold headline, cinematic, high click-through`;\n\nreturn [{\n  json: {\n    ...source,\n    productionPrompt,\n    probableTitle,\n    thumbnailPrompt,\n    outputs: {\n      productionPrompt,\n      generatedAt: new Date().toISOString(),\n      source: 'automation.maksitech.id/api/generate'\n    }\n  }\n}];"
      },
      "id": "build-package",
      "name": "Build Production Package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1070,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.renderWebhookUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-render-hook",
      "name": "Render Webhook Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1330,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$input.first().json,\n    renderPayload: {\n      jobId: $json.jobId,\n      title: $json.probableTitle,\n      topic: $json.title,\n      category: $json.category,\n      prompt: $json.productionPrompt,\n      source: $json.source,\n      metadata: $json.metadata,\n      callbackUrl: $json.callbackUrl,\n      callbackSecret: $json.callbackSecret,\n      requestedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "prepare-render",
      "name": "Prepare Render Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.renderWebhookUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ { 'Content-Type': 'application/json' } }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.renderPayload }}"
      },
      "id": "render-video",
      "name": "Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare Render Payload').first().json;\nconst renderResult = $input.first().json || {};\n\nreturn [{\n  json: {\n    ...source,\n    status: 'completed',\n    message: 'Paket produksi dan render video selesai diproses.',\n    finalVideoUrl: renderResult.finalVideoUrl || renderResult.videoUrl || '',\n    shortVideoUrl: renderResult.shortVideoUrl || '',\n    thumbnailUrl: renderResult.thumbnailUrl || '',\n    youtubeUrl: renderResult.youtubeUrl || '',\n    outputs: {\n      ...source.outputs,\n      renderResponse: renderResult\n    }\n  }\n}];"
      },
      "id": "build-complete-render",
      "name": "Build Completed with Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nreturn [{\n  json: {\n    ...source,\n    status: 'completed',\n    message: 'Paket produksi selesai. Render video belum dijalankan karena renderWebhookUrl belum diisi.'\n  }\n}];"
      },
      "id": "build-complete-no-render",
      "name": "Build Completed without Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        560
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-complete",
      "name": "Merge Completed Payload",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2380,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $json.callbackHeaders }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  jobId: $json.jobId,\n  status: $json.status,\n  message: $json.message,\n  progress: 100,\n  executionId: $execution.id,\n  finalVideoUrl: $json.finalVideoUrl || '',\n  shortVideoUrl: $json.shortVideoUrl || '',\n  thumbnailUrl: $json.thumbnailUrl || '',\n  youtubeUrl: $json.youtubeUrl || '',\n  outputs: $json.outputs\n} }}"
      },
      "id": "notify-completed",
      "name": "Notify Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        420
      ]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Notify Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Package": {
      "main": [
        [
          {
            "node": "Build Production Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Production Package": {
      "main": [
        [
          {
            "node": "Render Webhook Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Webhook Configured?": {
      "main": [
        [
          {
            "node": "Prepare Render Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Completed without Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Render Payload": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Build Completed with Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Completed with Render": {
      "main": [
        [
          {
            "node": "Merge Completed Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Completed without Render": {
      "main": [
        [
          {
            "node": "Merge Completed Payload",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Completed Payload": {
      "main": [
        [
          {
            "node": "Notify Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Jakarta"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "vidgen-production-orchestrator"
  }
}
