n8n/vidgen-youtube-native-v5.json
{
  "name": "VidGen AI v5 — YouTube Native",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vidgen-production",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-01",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst metadata = (payload.metadata && typeof payload.metadata === 'object') ? payload.metadata : {};\nconst platforms = Array.isArray(metadata.platforms) ? metadata.platforms.map((p) => String(p).toLowerCase()) : ['youtube'];\nconst jobId = payload.jobId;\n\nif (!jobId) throw new Error('[VidGen] jobId wajib ada di payload');\nif (!payload.prompt) throw new Error('[VidGen] field prompt wajib ada di payload');\n\nconst toInt = (value, fallback) => {\n  const parsed = parseInt(value, 10);\n  return Number.isFinite(parsed) ? parsed : fallback;\n};\n\nconst stableSeedFromString = (input) => {\n  let h = 2166136261;\n  const text = String(input || '');\n  for (let i = 0; i < text.length; i += 1) {\n    h ^= text.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return Math.abs(h >>> 0) % 2147483000;\n};\n\nconst seriesId = String(metadata.seriesId || payload.seriesId || payload.uid || jobId);\nconst episodeNumber = toInt(metadata.episodeNumber ?? metadata.part, 1);\nconst characterName = String(metadata.characterName || metadata.character?.name || '').trim();\nconst characterAnchorRaw = String(metadata.characterAnchor || metadata.characterDescription || '').trim();\nconst characterRefImageUrl = String(metadata.characterRefImageUrl || metadata.characterRefImage || '').trim();\nconst requestedSeed = toInt(metadata.characterSeed ?? metadata.seed, -1);\nconst characterSeed = requestedSeed >= 0\n  ? requestedSeed\n  : stableSeedFromString(`${seriesId}|${characterName}|${characterAnchorRaw || payload.title}`);\nconst defaultAnchor = characterName\n  ? `${characterName}, same face identity, same age range, same hairstyle, same skin tone, same facial structure`\n  : 'one recurring protagonist with identical face identity, same hairstyle, same facial structure, same age and skin tone in every scene';\nconst characterAnchor = characterAnchorRaw || defaultAnchor;\nconst characterNegativePrompt = String(\n  metadata.characterNegativePrompt ||\n  'different person, identity change, face swap, deformed face, extra limbs, extra fingers, bad anatomy, blurry, low quality, watermark, text'\n).trim();\n\nconst clipCount = Math.min(Math.max(toInt(metadata.clipCount, 8), 4), 12);\nconst clipDuration = Math.min(Math.max(toInt(metadata.clipDuration, 6), 4), 10);\n\nconst jobDir = `/root/.n8n-files/vidgen_${jobId}`;\nconst publicDir = `/var/www/vidgen-tmp/${jobId}`;\nconst publicBaseUrl = `https://automation.maksitech.id/vidgen-tmp/${jobId}`;\n\nreturn [{ json: {\n  jobId,\n  uid: payload.uid || '',\n  title: payload.title || 'Video tanpa judul',\n  prompt: payload.prompt,\n  source: payload.source || 'dashboard',\n  category: payload.category || 'Umum',\n  scheduledTime: payload.scheduledTime || '',\n  callbackUrl: payload.callbackUrl || '',\n  callbackSecret: payload.callbackSecret || '',\n  huggingfaceToken: payload.huggingfaceToken || '',\n  appBaseUrl: payload.appBaseUrl || 'https://automation.maksitech.id',\n  ollamaBaseUrl: (metadata.ollamaBaseUrl || payload.ollamaBaseUrl || 'http://127.0.0.1:11434').replace(/\\/$/, ''),\n  ollamaModel: metadata.ollamaModel || payload.ollamaModel || 'qwen2.5:7b-instruct',\n  metadata,\n  platforms,\n  platformsStr: platforms.join(','),\n  ttsVoice: metadata.ttsVoice || 'id-ID-ArdiNeural',\n  style: metadata.style || 'cinematic documentary, high detail, dramatic lighting',\n  mood: metadata.mood || 'informatif dan menarik',\n  clipCount,\n  clipDuration,\n  youtubeCategory: metadata.youtubeCategory || '27',\n  seriesId,\n  episodeNumber,\n  characterName,\n  characterAnchor,\n  characterNegativePrompt,\n  characterRefImageUrl,\n  characterSeed,\n  consistencyStrength: Math.max(Math.min(Number(metadata.consistencyStrength ?? 0.8), 1), 0),\n  jobDir,\n  narasiPath: `${jobDir}/narasi.mp3`,\n  narasiTxtPath: `${jobDir}/narasi.txt`,\n  clipsDir: `${jobDir}/clips`,\n  filelistPath: `${jobDir}/filelist.txt`,\n  rawVideoPath: `${jobDir}/raw.mp4`,\n  finalVideoPath: `${jobDir}/final.mp4`,\n  shortVideoPath: `${jobDir}/short.mp4`,\n  thumbPath: `${jobDir}/thumb.jpg`,\n  publicDir,\n  publicBaseUrl,\n  finalVideoUrl: `${publicBaseUrl}/final.mp4`,\n  shortVideoUrl: `${publicBaseUrl}/short.mp4`,\n  thumbUrl: `${publicBaseUrl}/thumb.jpg`,\n  callbackHeaders: {\n    'Content-Type': 'application/json',\n    'x-vidgen-callback-secret': payload.callbackSecret || ''\n  }\n}}];"
      },
      "id": "node-02",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\nset -e\nJOB_DIR=\"{{ $json.jobDir }}\"\nPUBLIC_DIR=\"{{ $json.publicDir }}\"\nmkdir -p \"$JOB_DIR/clips\" \"$PUBLIC_DIR\"\n\nfor cmd in ffmpeg ffprobe python3 edge-tts; do\n  command -v \"$cmd\" >/dev/null 2>&1 || { echo \"[PREFLIGHT ERROR] dependency tidak ditemukan: $cmd\"; exit 1; }\ndone\n\nFREE_KB=$(df -Pk \"$JOB_DIR\" | awk 'NR==2 {print $4}')\nif [ -n \"$FREE_KB\" ] && [ \"$FREE_KB\" -lt 1048576 ]; then\n  echo \"[PREFLIGHT ERROR] Disk space kurang dari 1GB di $JOB_DIR\"\n  exit 1\nfi\n\necho \"PREFLIGHT_OK\"\necho \"DIRS_OK\""
      },
      "id": "node-03",
      "name": "Buat Folder Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Normalize Request').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Normalize Request').first().json.jobId, status: 'processing', message: 'n8n mulai memproses job produksi video.', progress: 5, executionId: $execution.id }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-04",
      "name": "Callback: Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.ollamaBaseUrl + '/api/generate' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => {\n  const req = $('Normalize Request').first().json;\n  const schema = {\n    narasi: 'Narasi bahasa Indonesia yang natural, storytelling kuat, ada hook awal dan closing bernilai.',\n    video_prompts: ['English cinematic prompt per clip, photorealistic, no text overlay'],\n    judul: ['Judul YouTube utama', 'Alternatif 2', 'Alternatif 3'],\n    judul_tiktok: 'Judul TikTok viral',\n    caption_facebook: 'Caption Facebook interaktif',\n    deskripsi: 'Deskripsi YouTube SEO friendly',\n    tags: ['tag1', 'tag2', 'tag3'],\n    thumbnail_prompt: 'YouTube thumbnail prompt 16:9 high contrast',\n    character_anchor: req.characterAnchor,\n    negative_prompt: req.characterNegativePrompt\n  };\n\n  const promptLines = [\n    'You are an expert Indonesian storyteller and creative director for short videos.',\n    'Return STRICT JSON only. No markdown. No extra text.',\n    `Main topic: ${req.title}`,\n    `Description: ${req.prompt}`,\n    `Category: ${req.category}`,\n    `Visual style: ${req.style}`,\n    `Mood: ${req.mood}`,\n    `Clip count: ${req.clipCount}`,\n    `Clip duration: ${req.clipDuration} seconds`,\n    `Series ID: ${req.seriesId}`,\n    `Episode number: ${req.episodeNumber}`,\n    `Character anchor (must stay identical in all clips): ${req.characterAnchor}`,\n    `Negative prompt (must be avoided): ${req.characterNegativePrompt}`,\n    'Rules:',\n    '- Narration must be in natural Indonesian and emotionally engaging.',\n    '- video_prompts must be in English.',\n    '- Every video prompt must preserve the same exact character identity.',\n    '- Keep face, age range, hairstyle, and skin tone consistent across all clips.',\n    '- Keep wardrobe and color palette mostly consistent unless scene context forces small change.',\n    '- Avoid text overlays, logos, and watermarks.',\n    'Output schema:',\n    JSON.stringify(schema, null, 2)\n  ];\n\n  return {\n    model: req.ollamaModel,\n    prompt: promptLines.join('\\n'),\n    stream: false,\n    format: 'json',\n    options: { temperature: 0.45, top_p: 0.9, num_predict: 6144 }\n  };\n})()) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-05",
      "name": "Ollama: Generate Konten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst raw = resp?.response || resp?.message?.content || '';\nconst prev = $('Normalize Request').first().json;\n\nlet filtered = raw.replace(/A[Ii]/g, 'Kami').replace(/Artificial Intelligence/gi, 'Teknologi Canggih').replace(/Robot/gi, 'Sistem');\n\nlet parsed;\ntry {\n  const match = filtered.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : filtered);\n} catch (e) {\n  console.error('[Parse Ollama] Gagal parse JSON:', e.message);\n  parsed = {\n    narasi: `Konten informatif tentang: ${prev.prompt}`,\n    video_prompts: Array(prev.clipCount).fill('Cinematic documentary scene, photorealistic, dramatic lighting'),\n    judul: [`${prev.title} - Fakta Lengkap`],\n    judul_tiktok: `${prev.title}`.substring(0, 100),\n    caption_facebook: `${prev.title} - konten edukasi berkualitas. Bagikan ke temanmu!`,\n    deskripsi: `Video tentang ${prev.title}. Subscribe untuk konten berkualitas! #edukasi #Indonesia`,\n    tags: ['edukasi', 'fakta', 'viral', 'indonesia', 'trending', 'youtube', 'shorts'],\n    thumbnail_prompt: `Bold YouTube thumbnail about ${prev.title}, shocked expression, high saturation, 16:9`,\n    character_anchor: prev.characterAnchor,\n    negative_prompt: prev.characterNegativePrompt\n  };\n}\n\nconst anchor = String(parsed.character_anchor || prev.characterAnchor || '').trim();\nconst negative = String(parsed.negative_prompt || prev.characterNegativePrompt || '').trim();\n\nconst basePrompts = Array.isArray(parsed.video_prompts)\n  ? parsed.video_prompts.slice(0, prev.clipCount)\n  : Array(prev.clipCount).fill(`${prev.style}, cinematic, high quality`);\n\nconst videoPrompts = basePrompts.map((scenePrompt, index) => {\n  const cleanScene = String(scenePrompt || '').trim() || `Cinematic scene ${index + 1}`;\n  const composed = [\n    cleanScene,\n    `Character anchor: ${anchor}. Keep exactly the same person identity and face.`,\n    `Style: ${prev.style}. Mood: ${prev.mood}.`,\n    `Negative prompt: ${negative}.`\n  ].join(' ');\n  return composed.replace(/\\s+/g, ' ').trim();\n});\n\nreturn [{ json: {\n  ...prev,\n  narasi: parsed.narasi || '',\n  video_prompts: videoPrompts,\n  judul: Array.isArray(parsed.judul) ? parsed.judul[0] : (parsed.judul || prev.title),\n  judul_tiktok: (parsed.judul_tiktok || parsed.judul?.[0] || prev.title).substring(0, 100),\n  caption_facebook: parsed.caption_facebook || parsed.deskripsi || prev.title,\n  deskripsi: parsed.deskripsi || '',\n  tags: Array.isArray(parsed.tags) ? parsed.tags : [],\n  thumbnail_prompt: parsed.thumbnail_prompt || '',\n  characterAnchor: anchor || prev.characterAnchor,\n  characterNegativePrompt: negative || prev.characterNegativePrompt,\n  ollama_ok: true\n}}];"
      },
      "id": "node-06",
      "name": "Parse Response Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst asB64 = (value) => Buffer.from(String(value || ''), 'utf-8').toString('base64');\n\nconst narasiB64 = asB64(prev.narasi || '');\nconst promptsB64 = asB64(JSON.stringify(prev.video_prompts || []));\nconst characterAnchorB64 = asB64(prev.characterAnchor || '');\nconst negativePromptB64 = asB64(prev.characterNegativePrompt || '');\n\nreturn [{ json: {\n  ...prev,\n  narasiB64,\n  promptsB64,\n  characterAnchorB64,\n  negativePromptB64\n} }];"
      },
      "id": "node-07",
      "name": "Encode Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        360
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\nJOB_DIR=\"{{ $('Encode Base64').first().json.jobDir }}\"\nNARASI_PATH=\"{{ $('Encode Base64').first().json.narasiPath }}\"\nNARASI_TXT=\"{{ $('Encode Base64').first().json.narasiTxtPath }}\"\nTTS_VOICE=\"{{ $('Encode Base64').first().json.ttsVoice }}\"\nNARASI_B64=\"{{ $('Encode Base64').first().json.narasiB64 }}\"\n\necho \"[TTS] Menulis narasi ke file...\"\necho \"$NARASI_B64\" | base64 -d > \"$NARASI_TXT\"\n\necho \"[TTS] Voice: $TTS_VOICE\"\necho \"[TTS] Output: $NARASI_PATH\"\n\nedge-tts --file \"$NARASI_TXT\" --voice \"$TTS_VOICE\" --write-media \"$NARASI_PATH\"\n\nif [ -f \"$NARASI_PATH\" ]; then\n  duration=$(ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"$NARASI_PATH\" 2>/dev/null || echo 0)\n  echo \"TTS_OK\"\n  echo \"AUDIO_PATH:$NARASI_PATH\"\n  echo \"AUDIO_DURATION:$duration\"\nelse\n  echo \"[TTS ERROR] File audio tidak ditemukan\"\n  exit 1\nfi"
      },
      "id": "node-08",
      "name": "TTS: Generate Audio",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1660,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst prev = $('Encode Base64').first().json;\n\nconst ttsOk = stdout.includes('TTS_OK');\nconst audioPath = stdout.match(/AUDIO_PATH:(.+)/)?.[1]?.trim() || prev.narasiPath;\nconst audioDuration = parseFloat(stdout.match(/AUDIO_DURATION:([\\d.]+)/)?.[1] || '0');\n\nif (!ttsOk) {\n  console.error('[TTS] Gagal:', $input.first().json.stderr || stdout);\n}\n\nreturn [{ json: {\n  ...prev,\n  audio_ok: ttsOk,\n  audio_path: audioPath,\n  audio_duration: audioDuration\n}}];"
      },
      "id": "node-09",
      "name": "Cek TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Normalize Request').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Normalize Request').first().json.jobId, status: 'processing', message: 'Narasi audio berhasil dibuat, mulai generate video clips.', progress: 30 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-10",
      "name": "Callback: TTS Selesai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\nCLIPS_DIR=\"{{ $('Cek TTS').first().json.clipsDir }}\"\nPROMPTS_B64=\"{{ $('Cek TTS').first().json.promptsB64 }}\"\nCHARACTER_ANCHOR_B64=\"{{ $('Cek TTS').first().json.characterAnchorB64 }}\"\nNEGATIVE_PROMPT_B64=\"{{ $('Cek TTS').first().json.negativePromptB64 }}\"\nCLIP_DURATION={{ $('Cek TTS').first().json.clipDuration }}\nHF_TOKEN=\"{{ $('Normalize Request').first().json.huggingfaceToken }}\"\nJOBID=\"{{ $('Cek TTS').first().json.jobId }}\"\nSEED_BASE={{ $('Cek TTS').first().json.characterSeed }}\nREFERENCE_IMAGE_URL=\"{{ $('Cek TTS').first().json.characterRefImageUrl }}\"\nCONSISTENCY_STRENGTH={{ $('Cek TTS').first().json.consistencyStrength }}\n\necho \"[CLIPS] Mendekode daftar prompts...\"\necho \"$PROMPTS_B64\" | base64 -d > /root/.n8n-files/vidgen_${JOBID}_prompts.json\nCHARACTER_ANCHOR=$(echo \"$CHARACTER_ANCHOR_B64\" | base64 -d || true)\nNEGATIVE_PROMPT=$(echo \"$NEGATIVE_PROMPT_B64\" | base64 -d || true)\n\necho \"[CLIPS] Mulai generate klip di: $CLIPS_DIR\"\necho \"[CLIPS] seed base: $SEED_BASE\"\n\nSCRIPT=\"/opt/vidgen/generate_clips.py\"\n[ -f \"$SCRIPT\" ] || SCRIPT=\"/opt/vidgen/scripts/generate_clips.py\"\n[ -f \"$SCRIPT\" ] || { echo \"[CLIPS ERROR] generate_clips.py tidak ditemukan di /opt/vidgen atau /opt/vidgen/scripts\"; exit 1; }\n\nif python3 \"$SCRIPT\" --help 2>&1 | grep -q -- \"--seed-base\"; then\n  echo \"[CLIPS] Script support mode advanced\"\n  python3 \"$SCRIPT\" \\\n    --clips-dir \"$CLIPS_DIR\" \\\n    --prompts-file \"/root/.n8n-files/vidgen_${JOBID}_prompts.json\" \\\n    --hf-token \"$HF_TOKEN\" \\\n    --clip-duration \"$CLIP_DURATION\" \\\n    --seed-base \"$SEED_BASE\" \\\n    --character-anchor \"$CHARACTER_ANCHOR\" \\\n    --negative-prompt \"$NEGATIVE_PROMPT\" \\\n    --reference-image-url \"$REFERENCE_IMAGE_URL\" \\\n    --consistency-strength \"$CONSISTENCY_STRENGTH\"\nelse\n  echo \"[CLIPS] Script versi lama terdeteksi, fallback ke mode basic\"\n  python3 \"$SCRIPT\" \\\n    --clips-dir \"$CLIPS_DIR\" \\\n    --prompts-file \"/root/.n8n-files/vidgen_${JOBID}_prompts.json\" \\\n    --hf-token \"$HF_TOKEN\" \\\n    --clip-duration \"$CLIP_DURATION\"\nfi\n\nCLIP_COUNT=$(ls \"$CLIPS_DIR\"/clip_*.mp4 2>/dev/null | wc -l)\necho \"CLIPS_GENERATED:$CLIP_COUNT\"\necho \"CLIPS_DIR:$CLIPS_DIR\"\necho \"CLIPS_OK\""
      },
      "id": "node-11",
      "name": "Generate Video Clips",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2140,
        360
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\nset -e\nSCRIPT=\"/opt/vidgen/scripts/assemble_video.py\"\n[ -f \"$SCRIPT\" ] || SCRIPT=\"/opt/vidgen/assemble_video.py\"\n[ -f \"$SCRIPT\" ] || { echo \"[FFMPEG ERROR] assemble_video.py tidak ditemukan di /opt/vidgen/scripts atau /opt/vidgen\"; exit 1; }\npython3 \"$SCRIPT\" --job-dir \"{{ $('Cek TTS').first().json.jobDir }}\" --clips-dir \"{{ $('Cek TTS').first().json.clipsDir }}\" --filelist \"{{ $('Cek TTS').first().json.filelistPath }}\" --audio \"{{ $('Cek TTS').first().json.audio_path }}\" --raw \"{{ $('Cek TTS').first().json.rawVideoPath }}\" --final \"{{ $('Cek TTS').first().json.finalVideoPath }}\" --short \"{{ $('Cek TTS').first().json.shortVideoPath }}\" --srt \"{{ $('Cek TTS').first().json.jobDir }}/subs.srt\""
      },
      "id": "node-12",
      "name": "FFmpeg: Assembly Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2380,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst prev = $('Cek TTS').first().json;\n\nconst ffmpegOk = stdout.includes('FFMPEG_OK');\nconst finalDur = parseFloat(stdout.match(/FINAL_DURATION:([\\d.]+)/)?.[1] || '0');\nconst finalSize = stdout.match(/FINAL_SIZE:(.+)/)?.[1]?.trim() || 'unknown';\nconst mins = Math.floor(finalDur / 60);\nconst secs = Math.floor(finalDur % 60);\n\nif (!ffmpegOk) {\n  console.error('[FFmpeg] Gagal:', $input.first().json.stderr || stdout);\n  throw new Error('[FFmpeg] Assembly video gagal. Cek log Execute Command.');\n}\n\nreturn [{ json: {\n  ...prev,\n  ffmpeg_ok: ffmpegOk,\n  final_duration: finalDur,\n  final_duration_str: `${mins}m ${secs}s`,\n  final_size: finalSize\n}}];"
      },
      "id": "node-13",
      "name": "Parse Hasil FFmpeg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        360
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\ncp \"{{ $('Parse Hasil FFmpeg').first().json.finalVideoPath }}\" \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}/final.mp4\"\ncp \"{{ $('Parse Hasil FFmpeg').first().json.shortVideoPath }}\" \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}/short.mp4\"\nif [ -f \"{{ $('Parse Hasil FFmpeg').first().json.thumbPath }}\" ]; then\n  cp \"{{ $('Parse Hasil FFmpeg').first().json.thumbPath }}\" \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}/thumb.jpg\"\nfi\nchmod -R 755 \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}\"\necho \"PUBLIC_OK\"\necho \"PUBLIC_FINAL:{{ $('Parse Hasil FFmpeg').first().json.finalVideoUrl }}\"\necho \"PUBLIC_SHORT:{{ $('Parse Hasil FFmpeg').first().json.shortVideoUrl }}\""
      },
      "id": "node-14",
      "name": "Salin ke Folder Publik",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2860,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Normalize Request').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Normalize Request').first().json.jobId, status: 'processing', message: 'Video berhasil dirender. Mulai upload ke platform.', progress: 70 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-15",
      "name": "Callback: Video Siap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "node-21",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        260,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first().json;\nreturn [{ json: { error: err.error?.message || 'Unknown error', executionId: err.execution?.id || '' } }];"
      },
      "id": "node-22",
      "name": "Parse Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        620
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $('Parse Hasil FFmpeg').first().json.finalVideoPath }}",
        "dataPropertyName": "video"
      },
      "id": "node-16-read-binary",
      "name": "Read Video Binary",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        3100,
        360
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Parse Hasil FFmpeg').first().json.judul }}",
        "description": "={{ $('Parse Hasil FFmpeg').first().json.deskripsi }}",
        "categoryId": "={{ $('Parse Hasil FFmpeg').first().json.youtubeCategory }}",
        "tags": "={{ $('Parse Hasil FFmpeg').first().json.tags.join(',') }}",
        "privacyStatus": "public",
        "binaryData": true,
        "binaryPropertyName": "video"
      },
      "id": "node-17-youtube",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3340,
        360
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "",
          "name": "PILIH_KREDENSIAL_YOUTUBE_DI_SINI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Parse Hasil FFmpeg').first().json;\nconst ytNode = $input.first().json;\n\n// Untuk YouTube node, url biasanya bisa didapat dari videoId\nconst videoId = ytNode.id || '';\nconst youtubeUrl = videoId ? `https://youtube.com/watch?v=${videoId}` : '';\n\nconst uploadSummary = [];\nif (youtubeUrl) uploadSummary.push(`YouTube: ${youtubeUrl}`);\n\nreturn [{ json: {\n  ...prev,\n  youtubeUrl,\n  uploadSummary\n}}];"
      },
      "id": "node-18-parse",
      "name": "Parse Hasil Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jobId: $json.jobId,\n  status: 'completed',\n  message: 'Produksi dan upload YouTube selesai.',\n  progress: 100,\n  executionId: $execution.id,\n  finalVideoUrl: $json.finalVideoUrl,\n  shortVideoUrl: $json.shortVideoUrl,\n  thumbnailUrl: $json.thumbUrl,\n  youtubeUrl: $json.youtubeUrl,\n  outputs: {\n    duration: $json.final_duration_str,\n    size: $json.final_size,\n    platforms: $json.uploadSummary\n  }\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-19-callback",
      "name": "Callback: Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3820,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\nJOB_DIR=\"{{ $('Normalize Request').first().json.jobDir }}\"\nJOB_ID=\"{{ $('Normalize Request').first().json.jobId }}\"\nPROMPTS_FILE=\"/root/.n8n-files/vidgen_${JOB_ID}_prompts.json\"\n\ncase \"$JOB_DIR\" in\n  /root/.n8n-files/vidgen_*) rm -rf \"$JOB_DIR\" ;;\n  *) echo \"[CLEANUP ERROR] jobDir tidak aman: $JOB_DIR\"; exit 1 ;;\nesac\n\nrm -f \"$PROMPTS_FILE\"\necho \"CLEANUP_OK\""
      },
      "id": "node-20",
      "name": "Bersihkan File Temp",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4060,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=python3 - \"{{ $('Cek TTS').first().json.narasiTxtPath }}\" {{ $('Cek TTS').first().json.audio_duration }} \"{{ $('Cek TTS').first().json.jobDir }}/subs.srt\" <<'PY'\nimport sys\n\ntext_path = sys.argv[1]\nduration = float(sys.argv[2])\noutput_path = sys.argv[3]\n\nwith open(text_path, \"r\", encoding=\"utf-8\") as f:\n    text = f.read().strip()\n\nwords = text.split()\nchunks = []\ncurrent_chunk = []\ncurrent_len = 0\n\nfor word in words:\n    next_len = current_len + len(word) + (1 if current_chunk else 0)\n    if current_chunk and next_len > 30:\n        chunks.append(\" \".join(current_chunk))\n        current_chunk = [word]\n        current_len = len(word)\n    else:\n        current_chunk.append(word)\n        current_len = next_len\n\nif current_chunk:\n    chunks.append(\" \".join(current_chunk))\n\nif not chunks:\n    chunks = [\"...\"]\n\ntotal_chars = sum(len(c) for c in chunks)\ntime_per_char = duration / total_chars if total_chars > 0 else 0\n\ndef format_time(seconds):\n    h = int(seconds // 3600)\n    m = int((seconds % 3600) // 60)\n    s = int(seconds % 60)\n    ms = int((seconds * 1000) % 1000)\n    return f\"{h:02d}:{m:02d}:{s:02d},{ms:03d}\"\n\nwith open(output_path, \"w\", encoding=\"utf-8\") as f:\n    current_time = 0.0\n    for i, chunk in enumerate(chunks):\n        chunk_duration = len(chunk) * time_per_char\n        start_time = current_time\n        end_time = current_time + chunk_duration\n        f.write(f\"{i+1}\\\\n\")\n        f.write(f\"{format_time(start_time)} --> {format_time(end_time)}\\\\n\")\n        f.write(f\"{chunk}\\\\n\\\\n\")\n        current_time = end_time\n\nprint(f\"SRT generated: {output_path}\")\nPY"
      },
      "id": "node-09a",
      "name": "Generate Subtitles",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2020,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify({ \"Authorization\": \"Bearer \" + $('Normalize Request').first().json.huggingfaceToken, \"Content-Type\": \"application/json\", \"Accept\": \"image/png\" }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"inputs\": $('Parse Response Ollama').first().json.thumbnail_prompt }) }}",
        "options": {
          "responseFormat": "file"
        }
      },
      "id": "node-05a",
      "name": "Generate AI Thumbnail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.thumbPath || ('/root/.n8n-files/vidgen_' + ($json.jobId || 'unknown') + '/thumb.jpg') }}",
        "dataPropertyName": "data"
      },
      "id": "node-05b",
      "name": "Write AI Thumbnail",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Buat Folder Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buat Folder Job": {
      "main": [
        [
          {
            "node": "Callback: Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama: Generate Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Base64": {
      "main": [
        [
          {
            "node": "TTS: Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Generate Audio": {
      "main": [
        [
          {
            "node": "Cek TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek TTS": {
      "main": [
        [
          {
            "node": "Callback: TTS Selesai",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles": {
      "main": [
        [
          {
            "node": "Generate Video Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Thumbnail": {
      "main": [
        [
          {
            "node": "Write AI Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Clips": {
      "main": [
        [
          {
            "node": "FFmpeg: Assembly Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: Assembly Video": {
      "main": [
        [
          {
            "node": "Parse Hasil FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hasil FFmpeg": {
      "main": [
        [
          {
            "node": "Salin ke Folder Publik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salin ke Folder Publik": {
      "main": [
        [
          {
            "node": "Callback: Video Siap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Video Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video Binary": {
      "main": [
        [
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload": {
      "main": [
        [
          {
            "node": "Parse Hasil Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hasil Upload": {
      "main": [
        [
          {
            "node": "Callback: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Completed": {
      "main": [
        [
          {
            "node": "Bersihkan File Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Generate Konten": {
      "main": [
        [
          {
            "node": "Parse Response Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response Ollama": {
      "main": [
        [
          {
            "node": "Encode Base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate AI Thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Jakarta"
  },
  "id": "vidgen-youtube-native"
}