n8n/vidgen-omnichannel-v4.json
{
  "name": "VidGen AI v4 - Ollama Omnichannel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vidgen-production",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-01",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst metadata = (payload.metadata && typeof payload.metadata === 'object') ? payload.metadata : {};\nconst platforms = Array.isArray(metadata.platforms) ? metadata.platforms.map(p => String(p).toLowerCase()) : ['youtube'];\nconst jobId = payload.jobId;\n\nconst scheduleRaw = String(payload.scheduledTime || '').trim();\nconst scheduleFromPayload = String(payload.scheduledUploadAt || scheduleRaw).trim();\nconst parseScheduleIso = (input) => {\n  const value = String(input || '').trim();\n  if (!value) return '';\n\n  let d = null;\n  if (/^\\d{2}:\\d{2}$/.test(value)) {\n    const [hh, mm] = value.split(':').map(Number);\n    d = new Date();\n    d.setHours(hh, mm, 0, 0);\n    if (d.getTime() <= Date.now() + 30000) d.setDate(d.getDate() + 1);\n  } else if (/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}$/.test(value)) {\n    d = new Date(value.replace(' ', 'T') + ':00');\n  } else {\n    d = new Date(value);\n  }\n\n  if (!(d instanceof Date) || Number.isNaN(d.getTime())) return '';\n  return d.toISOString();\n};\n\nconst scheduledUploadAtIso = parseScheduleIso(scheduleFromPayload);\nconst normalizedScheduledTime = (() => {\n  if (!scheduledUploadAtIso) return scheduleRaw;\n  const d = new Date(scheduledUploadAtIso);\n  const pad = (num) => String(num).padStart(2, '0');\n  return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}`;\n})();\n\nif (!jobId) throw new Error('[VidGen] jobId wajib ada di payload');\nif (!payload.prompt) throw new Error('[VidGen] field prompt wajib ada di payload');\n\nconst ratioInput = String(metadata.aspectRatio || payload.aspectRatio || '16:9').trim();\nconst ratioMap = {\n  '16:9': { outputWidth: 1280, outputHeight: 720, genWidth: 768, genHeight: 432 },\n  '9:16': { outputWidth: 720, outputHeight: 1280, genWidth: 432, genHeight: 768 },\n  '1:1': { outputWidth: 1080, outputHeight: 1080, genWidth: 640, genHeight: 640 }\n};\nconst aspectRatio = ratioMap[ratioInput] ? ratioInput : '16:9';\nconst ratioPreset = ratioMap[aspectRatio];\n\nconst jobDir = `/tmp/vidgen_${jobId}`;\nconst publicDir = `/var/www/vidgen-tmp/${jobId}`;\nconst publicBaseUrl = `https://automation.maksitech.id/vidgen-tmp/${jobId}`;\n\nreturn [{ json: {\n  jobId,\n  uid: payload.uid || '',\n  title: payload.title || 'Video tanpa judul',\n  prompt: payload.prompt,\n  source: payload.source || 'dashboard',\n  category: payload.category || 'Umum',\n  scheduledTime: normalizedScheduledTime,\n  scheduledUploadAtIso,\n  callbackUrl: payload.callbackUrl || '',\n  callbackSecret: payload.callbackSecret || '',\n  appBaseUrl: payload.appBaseUrl || 'https://automation.maksitech.id',\n  ollamaBaseUrl: (metadata.ollamaBaseUrl || payload.ollamaBaseUrl || 'http://127.0.0.1:11434').replace(/\\/$/, ''),\n  ollamaModel: metadata.ollamaModel || payload.ollamaModel || 'qwen2.5:7b-instruct',\n  metadata,\n  platforms,\n  platformsStr: platforms.join(','),\n  ttsVoice: metadata.ttsVoice || 'id-ID-ArdiNeural',\n  style: metadata.style || 'cinematic documentary, high detail, dramatic lighting',\n  mood: metadata.mood || 'informatif dan menarik',\n  clipCount: Math.min(Math.max(parseInt(metadata.clipCount) || 8, 4), 12),\n  clipDuration: Math.min(Math.max(parseInt(metadata.clipDuration) || 6, 4), 10),\n  aspectRatio,\n  outputWidth: ratioPreset.outputWidth,\n  outputHeight: ratioPreset.outputHeight,\n  genWidth: ratioPreset.genWidth,\n  genHeight: ratioPreset.genHeight,\n  youtubeCategory: metadata.youtubeCategory || '27',\n  jobDir,\n  narasiPath: `${jobDir}/narasi.mp3`,\n  narasiTxtPath: `${jobDir}/narasi.txt`,\n  clipsDir: `${jobDir}/clips`,\n  filelistPath: `${jobDir}/filelist.txt`,\n  rawVideoPath: `${jobDir}/raw.mp4`,\n  finalVideoPath: `${jobDir}/final.mp4`,\n  shortVideoPath: `${jobDir}/short.mp4`,\n  thumbPath: `${jobDir}/thumb.jpg`,\n  publicDir,\n  publicBaseUrl,\n  finalVideoUrl: `${publicBaseUrl}/final.mp4`,\n  shortVideoUrl: `${publicBaseUrl}/short.mp4`,\n  thumbUrl: `${publicBaseUrl}/thumb.jpg`,\n  callbackHeaders: {\n    'Content-Type': 'application/json',\n    'x-vidgen-callback-secret': payload.callbackSecret || ''\n  }\n}}];"
      },
      "id": "node-02",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\nset -e\nJOB_DIR=\"{{ $json.jobDir }}\"\nPUBLIC_DIR=\"{{ $json.publicDir }}\"\nmkdir -p \"$JOB_DIR/clips\" \"$PUBLIC_DIR\"\n\nfor cmd in ffmpeg ffprobe python3 edge-tts; do\n  command -v \"$cmd\" >/dev/null 2>&1 || { echo \"[PREFLIGHT ERROR] dependency tidak ditemukan: $cmd\"; exit 1; }\ndone\n\nFREE_KB=$(df -Pk \"$JOB_DIR\" | awk 'NR==2 {print $4}')\nif [ -n \"$FREE_KB\" ] && [ \"$FREE_KB\" -lt 1048576 ]; then\n  echo \"[PREFLIGHT ERROR] Disk space kurang dari 1GB di $JOB_DIR\"\n  exit 1\nfi\n\necho \"PREFLIGHT_OK\"\necho \"DIRS_OK\""
      },
      "id": "node-03",
      "name": "Buat Folder Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Normalize Request').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Normalize Request').first().json.jobId, status: 'processing', message: 'Workflow diterima. Mulai generate naskah dan prompt visual.', progress: 8, executionId: $execution.id, currentStage: 'content_generation', currentNode: 'Ollama: Generate Konten', stageLabel: 'Generate naskah dan prompt visual' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-04",
      "name": "Callback: Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.ollamaBaseUrl + '/api/generate' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"{{ $('Normalize Request').first().json.ollamaModel }}\",\n  \"prompt\": \"Kamu adalah expert content creator YouTube dan media sosial Indonesia.\\nTopik utama: {{ $('Normalize Request').first().json.title }}\\nDeskripsi: {{ $('Normalize Request').first().json.prompt }}\\nKategori: {{ $('Normalize Request').first().json.category }}\\nStyle visual: {{ $('Normalize Request').first().json.style }}\\nMood: {{ $('Normalize Request').first().json.mood }}\\nJumlah klip: {{ $('Normalize Request').first().json.clipCount }}\\nDurasi per klip: {{ $('Normalize Request').first().json.clipDuration }} detik\\nAspect ratio target: {{ $('Normalize Request').first().json.aspectRatio }} ({{ $('Normalize Request').first().json.outputWidth }}x{{ $('Normalize Request').first().json.outputHeight }})\\n\\nAturan wajib:\\n- Narasi harus natural, engaging, dan cocok untuk long-form video YouTube.\\n- video_prompts wajib dalam Bahasa Inggris.\\n- Setiap video_prompt minimal 40 kata, detail, cinematic, mencakup subjek, aksi, environment, kamera, komposisi, dan pencahayaan.\\n- Hindari text overlay, watermark, dan logo.\\n- Komposisi frame harus aman untuk aspect ratio target agar subjek utama tidak terpotong.\\n\\nBuat output JSON valid (HANYA JSON, tidak ada teks lain):\\n{\\n  \\\"narasi\\\": \\\"[naskah narasi lengkap minimal 1500 kata, hook kuat 30 detik pertama]\\\",\\n  \\\"video_prompts\\\": [\\\"deskripsi visual Bahasa Inggris per klip\\\"],\\n  \\\"judul\\\": [\\\"judul YouTube menarik\\\", \\\"alternatif 2\\\", \\\"alternatif 3\\\"],\\n  \\\"judul_tiktok\\\": \\\"judul TikTok max 100 karakter\\\",\\n  \\\"caption_facebook\\\": \\\"caption Facebook 50-80 kata\\\",\\n  \\\"deskripsi\\\": \\\"deskripsi YouTube 150-200 kata + hashtag\\\",\\n  \\\"tags\\\": [\\\"tag1\\\",\\\"tag2\\\",\\\"tag3\\\",\\\"tag4\\\",\\\"tag5\\\"],\\n  \\\"thumbnail_prompt\\\": \\\"deskripsi thumbnail YouTube sesuai rasio target, high contrast\\\"\\n}\",\n  \"stream\": false,\n  \"format\": \"json\",\n  \"options\": { \"temperature\": 0.6, \"num_predict\": 8192 }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-05",
      "name": "Ollama: Generate Konten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst raw = resp?.response || resp?.message?.content || '';\nconst prev = $('Normalize Request').first().json;\n\nconst HOOK_WORDS = ['TERBONGKAR', 'TERNYATA', 'FAKTA MENGEJUTKAN', 'WAJIB TAHU', 'JANGAN LEWATKAN'];\nconst MAX_TITLE_LEN = 90;\n\nconst toHookTitle = (candidate, fallback) => {\n  const base = String(candidate || fallback || 'Video Menarik')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!base) return 'FAKTA MENGEJUTKAN: Hal Penting yang Wajib Kamu Tahu';\n\n  const hasHook = /(terbongkar|ternyata|fakta|rahasia|jangan lewatkan|wajib tahu|mengubah cara pandang)/i.test(base);\n  if (hasHook) return base.slice(0, MAX_TITLE_LEN);\n\n  const hash = base.split('').reduce((acc, ch) => acc + ch.charCodeAt(0), 0);\n  const hook = HOOK_WORDS[Math.abs(hash) % HOOK_WORDS.length];\n  return (hook + ': ' + base).slice(0, MAX_TITLE_LEN);\n};\n\nlet filtered = String(raw || '')\n  .replace(/A[Ii]/g, 'Kami')\n  .replace(/Artificial Intelligence/gi, 'Teknologi Canggih')\n  .replace(/Robot/gi, 'Sistem');\n\nlet parsed;\ntry {\n  const match = filtered.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : filtered);\n} catch (e) {\n  console.error('[Parse Ollama] Gagal parse JSON:', e.message);\n  parsed = {\n    narasi: 'Konten informatif mendalam tentang: ' + prev.prompt,\n    video_prompts: Array(prev.clipCount || 8).fill('Photorealistic cinematic scene, detailed environment, clear subject action, dynamic camera movement, volumetric lighting, no text, no logo, no watermark'),\n    judul: [String(prev.title || '') + ' - Fakta Lengkap'],\n    judul_tiktok: String(prev.title || '').substring(0, 100),\n    caption_facebook: String(prev.title || '') + ' - konten edukasi berkualitas. Bagikan ke temanmu!',\n    deskripsi: 'Video tentang ' + prev.title + '. Subscribe untuk konten berkualitas! #edukasi #Indonesia',\n    tags: ['edukasi', 'fakta', 'viral', 'indonesia', 'trending', 'youtube'],\n    thumbnail_prompt: 'High contrast YouTube thumbnail about ' + prev.title + ', emotional expression, bold composition, 16:9',\n    character_anchor: prev.characterAnchor,\n    negative_prompt: prev.characterNegativePrompt\n  };\n}\n\nconst clipCount = Math.max(1, Number(prev.clipCount || 8));\nconst anchor = String(parsed.character_anchor || prev.characterAnchor || '').trim();\nconst negative = String(parsed.negative_prompt || prev.characterNegativePrompt || '').trim();\n\nconst sourcePrompts = Array.isArray(parsed.video_prompts)\n  ? parsed.video_prompts.map((item) => String(item || '').trim()).filter(Boolean)\n  : [];\n\nconst basePrompts = Array.from({ length: clipCount }, (_, index) => {\n  const fromModel = sourcePrompts[index];\n  if (fromModel) {\n    return fromModel;\n  }\n  return 'Photorealistic cinematic scene ' + (index + 1) + ', clear action, rich environment details, balanced composition, dynamic camera movement, controlled lighting, no text, no logo, no watermark';\n});\n\nconst videoPrompts = basePrompts.map((scenePrompt, index) => {\n  const cleanScene = String(scenePrompt || '').trim() || ('Cinematic scene ' + (index + 1));\n  const detailBoost = [\n    cleanScene,\n    'Include subject, action, environment depth, camera angle, lens feel, and lighting direction.',\n    'Maintain continuity across clips and avoid generic framing.',\n    'Style: ' + (prev.style || 'cinematic documentary') + '. Mood: ' + (prev.mood || 'informatif dan menarik') + '.',\n    'No text overlay, no logo, no watermark.'\n  ];\n  if (anchor) detailBoost.push('Character anchor: ' + anchor + '. Keep exactly the same person identity and face.');\n  if (negative) detailBoost.push('Negative prompt: ' + negative + '.');\n  return detailBoost.join(' ').replace(/\\s+/g, ' ').trim();\n});\n\nconst rawTitle = Array.isArray(parsed.judul) ? parsed.judul[0] : (parsed.judul || prev.title);\nconst judulHook = toHookTitle(rawTitle, prev.title);\n\nconst tags = (Array.isArray(parsed.tags) ? parsed.tags : [])\n  .map((t) => String(t || '').trim())\n  .filter((t) => t && !/shorts?/i.test(t))\n  .slice(0, 20);\n\nreturn [{ json: {\n  ...prev,\n  narasi: parsed.narasi || '',\n  video_prompts: videoPrompts,\n  judul: judulHook,\n  judul_tiktok: (parsed.judul_tiktok || rawTitle || prev.title || '').substring(0, 100),\n  caption_facebook: parsed.caption_facebook || parsed.deskripsi || prev.title,\n  deskripsi: parsed.deskripsi || '',\n  tags,\n  thumbnail_prompt: parsed.thumbnail_prompt || ('High contrast YouTube thumbnail about ' + prev.title + ', emotional expression, bold composition, 16:9'),\n  characterAnchor: anchor || prev.characterAnchor,\n  characterNegativePrompt: negative || prev.characterNegativePrompt,\n  ollama_ok: true\n}}];"
      },
      "id": "node-06",
      "name": "Parse Response Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst narasiB64 = Buffer.from(prev.narasi || '', 'utf-8').toString('base64');\nconst promptsB64 = Buffer.from(JSON.stringify(prev.video_prompts || []), 'utf-8').toString('base64');\nreturn [{ json: { ...prev, narasiB64, promptsB64 } }];"
      },
      "id": "node-07",
      "name": "Encode Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Response Ollama').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Parse Response Ollama').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Parse Response Ollama').first().json.jobId, status: 'processing', message: 'Naskah, prompt visual, dan metadata konten sudah siap.', progress: 18, executionId: $execution.id, currentStage: 'content_ready', currentNode: 'Parse Response Ollama', stageLabel: 'Naskah dan prompt siap' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-06a",
      "name": "Callback: Konten Siap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\nJOB_DIR=\"{{ $('Encode Base64').first().json.jobDir }}\"\nNARASI_PATH=\"{{ $('Encode Base64').first().json.narasiPath }}\"\nNARASI_TXT=\"{{ $('Encode Base64').first().json.narasiTxtPath }}\"\nTTS_VOICE=\"{{ $('Encode Base64').first().json.ttsVoice }}\"\nNARASI_B64=\"{{ $('Encode Base64').first().json.narasiB64 }}\"\n\necho \"[TTS] Menulis narasi ke file...\"\necho \"$NARASI_B64\" | base64 -d > \"$NARASI_TXT\"\n\necho \"[TTS] Voice: $TTS_VOICE\"\necho \"[TTS] Output: $NARASI_PATH\"\n\nedge-tts --file \"$NARASI_TXT\" --voice \"$TTS_VOICE\" --write-media \"$NARASI_PATH\"\n\nif [ -f \"$NARASI_PATH\" ]; then\n  duration=$(ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"$NARASI_PATH\" 2>/dev/null || echo 0)\n  echo \"TTS_OK\"\n  echo \"AUDIO_PATH:$NARASI_PATH\"\n  echo \"AUDIO_DURATION:$duration\"\nelse\n  echo \"[TTS ERROR] File audio tidak ditemukan\"\n  exit 1\nfi"
      },
      "id": "node-08",
      "name": "TTS: Generate Audio",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1660,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst prev = $('Encode Base64').first().json;\n\nconst ttsOk = stdout.includes('TTS_OK');\nconst audioPath = stdout.match(/AUDIO_PATH:(.+)/)?.[1]?.trim() || prev.narasiPath;\nconst audioDuration = parseFloat(stdout.match(/AUDIO_DURATION:([\\d.]+)/)?.[1] || '0');\n\nif (!ttsOk) {\n  console.error('[TTS] Gagal:', $input.first().json.stderr || stdout);\n}\n\nreturn [{ json: {\n  ...prev,\n  audio_ok: ttsOk,\n  audio_path: audioPath,\n  audio_duration: audioDuration\n}}];"
      },
      "id": "node-09",
      "name": "Cek TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Normalize Request').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Normalize Request').first().json.jobId, status: 'processing', message: 'Audio TTS selesai. Lanjut generate klip video.', progress: 32, executionId: $execution.id, currentStage: 'tts_ready', currentNode: 'Generate Video Clips', stageLabel: 'Audio TTS selesai' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-10",
      "name": "Callback: TTS Selesai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\nCLIPS_DIR=\"{{ $('Cek TTS').first().json.clipsDir }}\"\nPROMPTS_B64=\"{{ $('Cek TTS').first().json.promptsB64 }}\"\nCLIP_DURATION={{ $('Cek TTS').first().json.clipDuration }}\nHF_TOKEN=\"${HUGGINGFACE_TOKEN:-}\"\nCOMFYUI_API_URL=\"${COMFYUI_API_URL:-}\"\nCOMFYUI_API_KEY=\"${COMFYUI_API_KEY:-}\"\nJOBID=\"{{ $('Cek TTS').first().json.jobId }}\"\n\necho \"[CLIPS] Mendekode daftar prompts...\"\necho \"$PROMPTS_B64\" | base64 -d > /tmp/vidgen_${JOBID}_prompts.json\n\necho \"[CLIPS] Mulai generate klip di: $CLIPS_DIR\"\necho \"[CLIPS] ComfyUI API URL: ${COMFYUI_API_URL:-'(not set)'}\"\n\nVIDGEN_OUTPUT_WIDTH=\"{{ $('Cek TTS').first().json.outputWidth || 1280 }}\"\nVIDGEN_OUTPUT_HEIGHT=\"{{ $('Cek TTS').first().json.outputHeight || 720 }}\"\nVIDGEN_GEN_WIDTH=\"{{ $('Cek TTS').first().json.genWidth || 768 }}\"\nVIDGEN_GEN_HEIGHT=\"{{ $('Cek TTS').first().json.genHeight || 432 }}\"\nexport VIDGEN_OUTPUT_WIDTH VIDGEN_OUTPUT_HEIGHT VIDGEN_GEN_WIDTH VIDGEN_GEN_HEIGHT COMFYUI_API_URL COMFYUI_API_KEY\n\nSCRIPT=\"/opt/vidgen/generate_clips.py\"\n[ -f \"$SCRIPT\" ] || SCRIPT=\"/opt/vidgen/scripts/generate_clips.py\"\n[ -f \"$SCRIPT\" ] || { echo \"[CLIPS ERROR] generate_clips.py tidak ditemukan di /opt/vidgen atau /opt/vidgen/scripts\"; exit 1; }\n\npython3 \"$SCRIPT\" \\\n  --clips-dir \"$CLIPS_DIR\" \\\n  --prompts-file \"/tmp/vidgen_${JOBID}_prompts.json\" \\\n  --hf-token \"$HF_TOKEN\" \\\n  --clip-duration \"$CLIP_DURATION\"\n\nCLIP_COUNT=$(ls \"$CLIPS_DIR\"/clip_*.mp4 2>/dev/null | wc -l)\necho \"CLIPS_GENERATED:$CLIP_COUNT\"\necho \"CLIPS_DIR:$CLIPS_DIR\"\necho \"CLIPS_OK\""
      },
      "id": "node-11",
      "name": "Generate Video Clips",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2140,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Cek TTS').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Cek TTS').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Cek TTS').first().json.jobId, status: 'processing', message: 'Klip video selesai dibuat. Lanjut render final video.', progress: 55, executionId: $execution.id, currentStage: 'clips_ready', currentNode: 'Generate Video Clips', stageLabel: 'Klip video siap' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-11a",
      "name": "Callback: Clips Siap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\nset -e\nVIDGEN_OUTPUT_WIDTH=\"{{ $('Cek TTS').first().json.outputWidth || 1280 }}\"\nVIDGEN_OUTPUT_HEIGHT=\"{{ $('Cek TTS').first().json.outputHeight || 720 }}\"\nexport VIDGEN_OUTPUT_WIDTH VIDGEN_OUTPUT_HEIGHT\n\nSCRIPT=\"\"\nfor CANDIDATE in /opt/vidgen/scripts/assemble_video.py /opt/vidgen/assemble_video.py /workspace/vidgen/scripts/assemble_video.py /workspace/scripts/assemble_video.py ./scripts/assemble_video.py ./assemble_video.py; do\n  [ -f \"$CANDIDATE\" ] && SCRIPT=\"$CANDIDATE\" && break\ndone\n[ -n \"$SCRIPT\" ] || SCRIPT=\"$(find /opt /workspace /data /root /home -maxdepth 5 -type f -name assemble_video.py 2>/dev/null | head -n 1)\"\n[ -n \"$SCRIPT\" ] || { echo \"[FFMPEG ERROR] assemble_video.py tidak ditemukan. Pastikan script ter-mount ke container (contoh: /opt/vidgen/scripts/assemble_video.py)\"; exit 1; }\necho \"[FFMPEG] Pakai script: $SCRIPT\"\npython3 \"$SCRIPT\" --job-dir \"{{ $('Cek TTS').first().json.jobDir }}\" --clips-dir \"{{ $('Cek TTS').first().json.clipsDir }}\" --filelist \"{{ $('Cek TTS').first().json.filelistPath }}\" --audio \"{{ $('Cek TTS').first().json.audio_path }}\" --raw \"{{ $('Cek TTS').first().json.rawVideoPath }}\" --final \"{{ $('Cek TTS').first().json.finalVideoPath }}\" --short \"{{ $('Cek TTS').first().json.shortVideoPath }}\" --thumb \"{{ $('Cek TTS').first().json.thumbPath }}\""
      },
      "id": "node-12",
      "name": "FFmpeg: Assembly Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2380,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst prev = $('Cek TTS').first().json;\n\nconst ffmpegOk = stdout.includes('FFMPEG_OK');\nconst finalDur = parseFloat(stdout.match(/FINAL_DURATION:([\\d.]+)/)?.[1] || '0');\nconst finalSize = stdout.match(/FINAL_SIZE:(.+)/)?.[1]?.trim() || 'unknown';\nconst mins = Math.floor(finalDur / 60);\nconst secs = Math.floor(finalDur % 60);\n\nif (!ffmpegOk) {\n  console.error('[FFmpeg] Gagal:', $input.first().json.stderr || stdout);\n  throw new Error('[FFmpeg] Assembly video gagal. Cek log Execute Command.');\n}\n\nreturn [{ json: {\n  ...prev,\n  ffmpeg_ok: ffmpegOk,\n  final_duration: finalDur,\n  final_duration_str: `${mins}m ${secs}s`,\n  final_size: finalSize\n}}];"
      },
      "id": "node-13",
      "name": "Parse Hasil FFmpeg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        360
      ]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\ncp \"{{ $('Parse Hasil FFmpeg').first().json.finalVideoPath }}\" \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}/final.mp4\"\ncp \"{{ $('Parse Hasil FFmpeg').first().json.shortVideoPath }}\" \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}/short.mp4\"\nif [ -f \"{{ $('Parse Hasil FFmpeg').first().json.thumbPath }}\" ]; then\n  cp \"{{ $('Parse Hasil FFmpeg').first().json.thumbPath }}\" \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}/thumb.jpg\"\nfi\nchmod -R 755 \"{{ $('Parse Hasil FFmpeg').first().json.publicDir }}\"\necho \"PUBLIC_OK\"\necho \"PUBLIC_FINAL:{{ $('Parse Hasil FFmpeg').first().json.finalVideoUrl }}\"\necho \"PUBLIC_SHORT:{{ $('Parse Hasil FFmpeg').first().json.shortVideoUrl }}\""
      },
      "id": "node-14",
      "name": "Salin ke Folder Publik",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2860,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize Request').first().json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($('Normalize Request').first().json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $('Normalize Request').first().json.jobId, status: 'processing', message: 'Render final video selesai. Menunggu jadwal upload platform.', progress: 72, executionId: $execution.id, currentStage: 'render_ready', currentNode: 'Wait Until Upload Time', stageLabel: 'Render final selesai' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-15",
      "name": "Callback: Video Siap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nPLATFORMS=\"{{ $('Parse Hasil FFmpeg').first().json.platformsStr }}\"\nFINAL=\"{{ $('Parse Hasil FFmpeg').first().json.finalVideoPath }}\"\nSHORT=\"{{ $('Parse Hasil FFmpeg').first().json.shortVideoPath }}\"\nTHUMB=\"{{ $('Parse Hasil FFmpeg').first().json.thumbPath }}\"\nJUDUL_YT=\"{{ $('Parse Hasil FFmpeg').first().json.judul }}\"\nDESKRIPSI=\"{{ $('Parse Hasil FFmpeg').first().json.deskripsi }}\"\nJUDUL_TT=\"{{ $('Parse Hasil FFmpeg').first().json.judul_tiktok }}\"\nCAPTION_FB=\"{{ $('Parse Hasil FFmpeg').first().json.caption_facebook }}\"\nYT_CATEGORY=\"{{ $('Parse Hasil FFmpeg').first().json.youtubeCategory }}\"\nPUBLIC_FINAL=\"{{ $('Parse Hasil FFmpeg').first().json.finalVideoUrl }}\"\nPUBLIC_SHORT=\"{{ $('Parse Hasil FFmpeg').first().json.shortVideoUrl }}\"\nTAGS=\"{{ $('Parse Hasil FFmpeg').first().json.tags.join(',') }}\"\n\nSCRIPT=\"/opt/vidgen/upload_platforms.py\"\n[ -f \"$SCRIPT\" ] || SCRIPT=\"/opt/vidgen/scripts/upload_platforms.py\"\n[ -f \"$SCRIPT\" ] || { echo \"[UPLOAD ERROR] upload_platforms.py tidak ditemukan di /opt/vidgen atau /opt/vidgen/scripts\"; exit 1; }\n\npython3 \"$SCRIPT\" \\\n  --platforms \"$PLATFORMS\" \\\n  --final-video \"$FINAL\" \\\n  --short-video \"$SHORT\" \\\n  --thumb \"$THUMB\" \\\n  --title-yt \"$JUDUL_YT\" \\\n  --desc-yt \"$DESKRIPSI\" \\\n  --title-tiktok \"$JUDUL_TT\" \\\n  --caption-fb \"$CAPTION_FB\" \\\n  --yt-category \"$YT_CATEGORY\" \\\n  --public-short-url \"$PUBLIC_SHORT\" \\\n  --tags \"$TAGS\""
      },
      "id": "node-16",
      "name": "Upload ke Platform",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3100,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst prev = $('Parse Hasil FFmpeg').first().json;\n\nlet results = {};\ntry {\n  const match = stdout.match(/UPLOAD_RESULTS:(\\{[\\s\\S]*\\})/);\n  if (match) results = JSON.parse(match[1]);\n} catch(e) {\n  console.error('[Upload Parse] Error:', e.message, stdout);\n}\n\nconst youtubeUrl = results.youtube?.url || '';\nconst tiktokOk = results.tiktok?.ok || false;\nconst facebookOk = results.facebook?.ok || false;\nconst tiktokVideoId = results.tiktok?.video_id || '';\nconst facebookPostId = results.facebook?.post_id || '';\n\nconst uploadSummary = [];\nif (youtubeUrl) uploadSummary.push(`YouTube: ${youtubeUrl}`);\nif (tiktokOk) uploadSummary.push(`TikTok: ${tiktokVideoId}`);\nif (facebookOk) uploadSummary.push(`Facebook: ${facebookPostId}`);\n\nreturn [{ json: {\n  ...prev,\n  youtubeUrl,\n  tiktokOk,\n  facebookOk,\n  tiktokVideoId,\n  facebookPostId,\n  uploadResults: results,\n  uploadSummary\n}}];"
      },
      "id": "node-17",
      "name": "Parse Hasil Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json.callbackHeaders) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  jobId: $json.jobId,\n  status: 'completed',\n  message: 'Produksi dan upload selesai ke semua platform.',\n  progress: 100,\n  executionId: $execution.id,\n  currentStage: 'upload_completed',\n  currentNode: 'Upload Multi Platform',\n  stageLabel: 'Upload semua platform selesai',\n  finalVideoUrl: $json.finalVideoUrl,\n  shortVideoUrl: $json.shortVideoUrl,\n  thumbnailUrl: $json.thumbUrl,\n  youtubeUrl: $json.youtubeUrl,\n  outputs: {\n    duration: $json.final_duration_str,\n    size: $json.final_size,\n    platforms: $json.uploadSummary\n  }\n}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-18",
      "name": "Callback: Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\nJOB_DIR=\"{{ $('Normalize Request').first().json.jobDir }}\"\nJOB_ID=\"{{ $('Normalize Request').first().json.jobId }}\"\nPROMPTS_FILE=\"/tmp/vidgen_${JOB_ID}_prompts.json\"\n\ncase \"$JOB_DIR\" in\n  /tmp/vidgen_*) rm -rf \"$JOB_DIR\" ;;\n  *) echo \"[CLEANUP ERROR] jobDir tidak aman: $JOB_DIR\"; exit 1 ;;\nesac\n\nrm -f \"$PROMPTS_FILE\"\necho \"CLEANUP_OK\""
      },
      "id": "node-20",
      "name": "Bersihkan File Temp",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3820,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "node-21",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        260,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconst safeNode = (name) => {\n  try {\n    return $(name).first().json;\n  } catch (e) {\n    return {};\n  }\n};\nconst normalized = safeNode('Normalize Request');\nconst parsedFfmpeg = safeNode('Parse Hasil FFmpeg');\nconst lastNode = String(err.error?.node?.name || err.execution?.lastNodeExecuted || err.lastNodeExecuted || '').trim();\nconst errorMessage = String(err.error?.message || err.message || 'Unknown error').trim();\nconst jobId = String(normalized.jobId || parsedFfmpeg.jobId || err.jobId || '').trim();\nconst callbackUrl = String(normalized.callbackUrl || parsedFfmpeg.callbackUrl || '').trim();\nconst callbackHeaders = normalized.callbackHeaders || parsedFfmpeg.callbackHeaders || { 'Content-Type': 'application/json' };\nreturn [{ json: {\n  jobId,\n  callbackUrl,\n  callbackHeaders,\n  error: errorMessage,\n  executionId: err.execution?.id || '',\n  currentNode: lastNode || 'Unknown Node',\n  currentStage: 'workflow_failed',\n  stageLabel: lastNode ? `Gagal di node ${lastNode}` : 'Workflow gagal',\n  message: lastNode ? `Workflow gagal di node ${lastNode}.` : 'Workflow gagal saat diproses.'\n} }];"
      },
      "id": "node-22",
      "name": "Parse Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ JSON.stringify($json.callbackHeaders || { \"Content-Type\": \"application/json\" }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jobId: $json.jobId, status: 'failed', message: $json.message, progress: 0, error: { detail: $json.error }, executionId: $json.executionId, currentStage: $json.currentStage, currentNode: $json.currentNode, stageLabel: $json.stageLabel }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-22b",
      "name": "Callback: Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        620
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ (() => { const v = $('Normalize Request').first().json.scheduledUploadAtIso; const n = new Date(); if (!v) return new Date(n.getTime() + 5000).toISOString(); const d = new Date(v); return (Number.isNaN(d.getTime()) || d.getTime() <= n.getTime()) ? new Date(n.getTime() + 5000).toISOString() : d.toISOString(); })() }}"
      },
      "id": "node-16a",
      "name": "Wait Until Upload Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3080,
        360
      ]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Buat Folder Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buat Folder Job": {
      "main": [
        [
          {
            "node": "Callback: Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama: Generate Konten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Base64": {
      "main": [
        [
          {
            "node": "TTS: Generate Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Callback: Konten Siap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Generate Audio": {
      "main": [
        [
          {
            "node": "Cek TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek TTS": {
      "main": [
        [
          {
            "node": "Callback: TTS Selesai",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Video Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Clips": {
      "main": [
        [
          {
            "node": "Callback: Clips Siap",
            "type": "main",
            "index": 0
          },
          {
            "node": "FFmpeg: Assembly Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: Assembly Video": {
      "main": [
        [
          {
            "node": "Parse Hasil FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hasil FFmpeg": {
      "main": [
        [
          {
            "node": "Salin ke Folder Publik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salin ke Folder Publik": {
      "main": [
        [
          {
            "node": "Callback: Video Siap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait Until Upload Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload ke Platform": {
      "main": [
        [
          {
            "node": "Parse Hasil Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hasil Upload": {
      "main": [
        [
          {
            "node": "Callback: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Completed": {
      "main": [
        [
          {
            "node": "Bersihkan File Temp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error": {
      "main": [
        [
          {
            "node": "Callback: Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Konten Siap": {
      "main": [
        []
      ]
    },
    "Callback: Clips Siap": {
      "main": [
        []
      ]
    },
    "Ollama: Generate Konten": {
      "main": [
        [
          {
            "node": "Parse Response Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response Ollama": {
      "main": [
        [
          {
            "node": "Encode Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Upload Time": {
      "main": [
        [
          {
            "node": "Upload ke Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Jakarta"
  }
}
