n8n/vidgen-error-handler-workflow.json
{
  "name": "VidGen Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst execution = raw.execution || {};\nconst trigger = raw.trigger || {};\nconst workflow = raw.workflow || {};\nconst errorInfo = execution.error || trigger.error || {};\n\nreturn [{\n  json: {\n    workflowId: workflow.id || '',\n    workflowName: workflow.name || 'Unknown Workflow',\n    executionId: execution.id || '',\n    executionUrl: execution.url || '',\n    lastNodeExecuted: execution.lastNodeExecuted || errorInfo?.node?.name || '',\n    mode: execution.mode || trigger.mode || '',\n    message: errorInfo.message || 'Workflow failed without a detailed message.',\n    stack: errorInfo.stack || errorInfo.cause?.stack || '',\n    timestamp: new Date().toISOString(),\n    raw\n  }\n}];"
      },
      "id": "normalize-error",
      "name": "Normalize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.VIDGEN_ERROR_WEBHOOK_URL || '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-webhook",
      "name": "Error Webhook Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VIDGEN_ERROR_WEBHOOK_URL }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ { 'Content-Type': 'application/json' } }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  status: 'error',\n  workflowId: $json.workflowId,\n  workflowName: $json.workflowName,\n  executionId: $json.executionId,\n  executionUrl: $json.executionUrl,\n  lastNodeExecuted: $json.lastNodeExecuted,\n  mode: $json.mode,\n  message: $json.message,\n  stack: $json.stack,\n  timestamp: $json.timestamp\n} }}"
      },
      "id": "post-error-webhook",
      "name": "Post Error Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        220
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Error": {
      "main": [
        [
          {
            "node": "Error Webhook Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Webhook Configured?": {
      "main": [
        [
          {
            "node": "Post Error Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Jakarta"
  },
  "pinData": {},
  "meta": {
    "instanceId": "vidgen-error-handler"
  }
}
